<!DOCTYPE html>
<html lang="en">
{% extends ".base.html" %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Drawwing Line{% endblock %}</title>
</head>
<body>

<h1>Drawwing Line</h1>
<div id="canvasUpper" style="stroke: red; width: 500px; height: 500px; border-style: solid;border-width: 5px;">
  <canvas  id="myCanvas" width="500" height="500"
           style="border:1px solid #c3c3c3;">
    Your browser does not support the canvas element.
  </canvas>

</div>


<br>
<span id="x_coord">___</span>
<span>,</span>
<span id="y_coord">___</span>

<p id="coorStore"></p>

<ul id="displayCoordList">
</ul>

<script>
  // to enable drawing shapes on the canvas
  var canvas = document.getElementById("myCanvas");
  var ctx = canvas.getContext("2d");

  var gameState = "on";
  var gameState = "off";

  // on start
  function int(){
    ctx.fillStyle = "#ffffff";
    ctx.fillRect(0,0,500,500);
  }

  int()



  // reference: https://stackoverflow.com/questions/3583724/how-do-i-add-a-delay-in-a-javascript-loop
  var i = 1;                  //  set your counter to 1
  var c = 0                   //  the y position of the circle, global varlaible
  var numbLoops = 50;                 // number of loops
  var delay = 100; // time between frames

  function myLoop() {         //  create a loop function
    setTimeout(function() {   //  call a 3s setTimeout when the loop is called
                              //  your code here

      if (Number(c) == 550){
        c = 0;
      }
      drawCircle(250, c)
      c = Number(c)+50
      i++;                    //  increment the counter
      if (i < numbLoops) {           //  if the counter < 10, call the loop function
        myLoop();             //  ..  again which will trigger another
      }                       //  ..  setTimeout()
    }, delay)
  }

  function drawBack(arr){
    console.log("drawwing background")
    ctx.fillStyle = "#ffffff";
    ctx.fillRect(0,0,500,500);

    for (var i = 0; i<arr.length; i = i +2){
      console.log(String(arr[i])+"," +String(arr[i+1])+"," +String(arr[i+2])+"," +String(arr[i+3]))
      drawLineNoBack(arr[i], arr[i+1], arr[i+2], arr[i+3])
    }

  }

  //var coordStore = [0,0]
  var coordStore = [0,0,154,195,154,195]
  document.getElementById("coorStore").innerText = coordStore
  drawFromList(coordStore)

  function drawFromList(arr){

    for (var i = 0; i<arr.length; i = i +4){
      console.log(String(arr[i])+"," +String(arr[i+1])+"," +String(arr[i+2])+"," +String(arr[i+3]))
      drawLineNoBack(arr[i], arr[i+1], arr[i+2], arr[i+3])
    }
  }

  function drawLine(initalX, initalY, finalX, finalY){
    drawBack(coordStore)

    // set line stroke and line width
    ctx.strokeStyle = 'red';
    ctx.lineWidth = 5;

    // draw a red line
    ctx.beginPath();
    ctx.moveTo(initalX, initalY);
    ctx.lineTo(finalX, finalY);
    ctx.stroke();
  }

  function drawLineNoBack(initalX, initalY, finalX, finalY){
    // set line stroke and line width
    ctx.strokeStyle = 'red';
    ctx.lineWidth = 5;

    // draw a red line
    ctx.beginPath();
    ctx.moveTo(initalX, initalY);
    ctx.lineTo(finalX, finalY);
    ctx.stroke();
  }

  var score = 0;

  var rect = canvas.getBoundingClientRect();
  console.log(rect.top, rect.right, rect.bottom, rect.left);

  var xDisplay = document.getElementById("x_coord")
  var yDisplay = document.getElementById("y_coord")

  var lowerBound = Number(c)-40;
  var upperBound = Number(c)+40;

  canvas.addEventListener("mousemove", function (e){

    var x = Math.round(e.pageX - rect.left)
    var y = Math.round(e.pageY - rect.top)
    xDisplay.innerText = x
    yDisplay.innerText = y

    drawBack(coordStore)
    drawLineNoBack(coordStore[coordStore.length-2],coordStore[coordStore.length-1], x, y)
    //drawBack(coordStore)
  })

  canvas.addEventListener("click", function (e){
    var x = Math.round(e.pageX - rect.left)
    var y = Math.round(e.pageY - rect.top)
    xDisplay.innerText = x
    yDisplay.innerText = y

    coordStore.push(x)
    coordStore.push(y)

    document.getElementById("coorStore").innerText = coordStore
    drawBack(coordStore)

    //drawCircle(e.pageX, e.pageY)
    drawList(coordStore)
  })

  function drawCircle(x,y){
    const newDiv = document.createElement("div");
    newDiv.style.borderRadius = "50%";
    newDiv.style.marginLeft = x - rect.left -25+"px";
    newDiv.style.marginTop = y - rect.top -25+"px";
    newDiv.style.position = "absolute";
    newDiv.style.width = "50px";
    newDiv.style.height = "50px";
    newDiv.style.backgroundColor =  "rgb(155, 102, 102)";
    document.getElementById("canvasUpper").appendChild(newDiv);
  }

  function drawList(arr){
    const coordRow = document.createElement("li");
    coordRow.innerText = String(arr[arr.length-2]) + ","+String(arr[arr.length-1]);
    document.getElementById("displayCoordList").append(coordRow);
  }

  drawList(coordStore)
</script>

</body>
{% endblock %}
</html>